<div class="max-w-screen-xl mx-auto p-16">
  <div class="sm:grid lg:grid-cols-3 sm:grid-cols-2 gap-10">
    <div
      class="hover:bg-gray-400 sm:mt-8 bg-gray-100 hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg"
    >
      <div class="py-4 px-8">
        <img
          src="../../../assets/profiles/woman-1274056.jpg"
          class="rounded-full h-12 w-12 mb-4"
          loading="lazy"
        />
        <a href="#">
          <h4 class="text-lg mb-3 font-semibold">Natalia Omsik 32 lat</h4>
        </a>
        <p class="mb-2 text-sm text-gray-600">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s
        </p>

        <img
          src="../../../assets/images/woman-1274056.jpg"
          class="w-100"
          loading="lazy"
        />

        <hr class="mt-4" />
        <span class="text-xs">Numer:</span>
        &nbsp;<span class="text-xs text-gray-500">678-898-123</span>
      </div>
    </div>
    <div
      class="hover:bg-gray-400 max-sm:mt-8 bg-gray-100 hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg"
    >
      <div class="py-4 px-8">
        <img
          src="../../../assets/profiles/woman-2003647.jpg"
          class="rounded-full h-12 w-12 mb-4"
          loading="lazy"
        />
        <a href="#">
          <h4 class="text-lg mb-3 font-semibold">Marysia Kowalik 22 lat</h4>
        </a>
        <p class="mb-2 text-sm text-gray-600">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s
        </p>

        <img
          src="../../../assets/images/woman-2003647.jpg"
          class="w-100"
          loading="lazy"
        />

        <hr class="mt-4" />
        <span class="text-xs">Numer: </span>
        &nbsp;<span class="text-xs text-gray-500">789-764-234</span>
      </div>
    </div>
    <div
      class="hover:bg-gray-400 max-sm:mt-8 bg-gray-100 hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg"
    >
      <div class="py-4 px-8">
        <img
          src="../../../assets/profiles/girl-1530750.jpg"
          class="rounded-full h-12 w-12 mb-4"
          loading="lazy"
        />
        <a href="#">
          <h4 class="text-lg mb-3 font-semibold">Afrodyta 23 lat</h4>
        </a>
        <p class="mb-2 text-sm text-gray-600">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s
        </p>

        <img
          src="../../../assets/images/girl-1530750.jpg"
          class="w-100"
          loading="lazy"
        />

        <hr class="mt-4" />
        <span class="text-xs">Numer: </span>
        &nbsp;<span class="text-xs text-gray-500">654-987-234</span>
      </div>
    </div>
    <div
      class="hover:bg-gray-400 max-sm:mt-8 bg-gray-100 hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg"
    >
      <div class="py-4 px-8">
        <img
          src="../../../assets/profiles/portrait-3190855.jpg"
          class="rounded-full h-12 w-12 mb-4"
          loading="lazy"
        />
        <a href="#">
          <h4 class="text-lg mb-3 font-semibold">Anastazja Grim 31 lat</h4>
        </a>
        <p class="mb-2 text-sm text-gray-600">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s
        </p>

        <img
          src="../../../assets/images/portrait-3190855.jpg"
          class="w-100"
          loading="lazy"
        />

        <hr class="mt-4" />
        <span class="text-xs">Numer: </span>
        &nbsp;<span class="text-xs text-gray-500">567-787-298</span>
      </div>
    </div>
    <div
      class="hover:bg-gray-400 max-sm:mt-8 bg-gray-100 hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg"
    >
      <div class="py-4 px-8">
        <img
          src="../../../assets/profiles/young-woman-1722402.jpg"
          class="rounded-full h-12 w-12 mb-4"
          loading="lazy"
        />
        <a href="#">
          <h4 class="text-lg mb-3 font-semibold">Renatka Mow 35 lat</h4>
        </a>
        <p class="mb-2 text-sm text-gray-600">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s
        </p>

        <img
          src="../../../assets/images/young-woman-1722402.jpg"
          class="w-100"
          loading="lazy"
        />

        <hr class="mt-4" />
        <span class="text-xs">Numer: </span>
        &nbsp;<span class="text-xs text-gray-500">765-987-546</span>
      </div>
    </div>
    <div
      class="hover:bg-gray-400 max-sm:mt-8 bg-gray-100 hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg"
    >
      <div class="py-4 px-8">
        <img
          src="../../../assets/profiles/girl-1867092.jpg"
          class="rounded-full h-12 w-12 mb-4"
          loading="lazy"
        />
        <a href="#">
          <h4 class="text-lg mb-3 font-semibold">Aneta Krakus 24 lat</h4>
        </a>
        <p class="mb-2 text-sm text-gray-600">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s
        </p>

        <img
          src="../../../assets/images/girl-1867092.jpg"
          class="w-100"
          loading="lazy"
        />

        <hr class="mt-4" />
        <span class="text-xs">Numer: </span>
        &nbsp;<span class="text-xs text-gray-500">567-879-909</span>
      </div>
    </div>
    <div
      class="hover:bg-gray-400 max-sm:mt-8 bg-gray-100 hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg"
    >
      <div class="py-4 px-8">
        <img
          src="../../../assets/profiles/girl-2306831.jpg"
          class="rounded-full h-12 w-12 mb-4"
          loading="lazy"
        />
        <a href="#">
          <h4 class="text-lg mb-3 font-semibold">Monia Anon 28 lat</h4>
        </a>
        <p class="mb-2 text-sm text-gray-600">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s
        </p>

        <img
          src="../../../assets/images/girl-2306831.jpg"
          class="w-100"
          loading="lazy"
        />

        <hr class="mt-4" />
        <span class="text-xs">Numer: </span>
        &nbsp;<span class="text-xs text-gray-500">678-234-298</span>
      </div>
    </div>
    <div
      class="hover:bg-gray-400 max-sm:mt-8 bg-gray-100 hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg"
    >
      <div class="py-4 px-8">
        <img
          src="../../../assets/profiles/nude-3052317.jpg"
          class="rounded-full h-12 w-12 mb-4"
          loading="lazy"
        />
        <a href="#">
          <h4 class="text-lg mb-3 font-semibold">Rowie Laustergen 26 lat</h4>
        </a>
        <p class="mb-2 text-sm text-gray-600">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s
        </p>

        <img
          src="../../../assets/images/nude-3052317.jpg"
          class="w-100"
          loading="lazy"
        />

        <hr class="mt-4" />
        <span class="text-xs">Numer: </span>
        &nbsp;<span class="text-xs text-gray-500">672-999-123</span>
      </div>
    </div>
    <div
      class="hover:bg-gray-400 max-sm:mt-8 bg-gray-100 hover:text-white transition duration-300 max-w-sm rounded overflow-hidden shadow-lg"
    >
      <div class="py-4 px-8">
        <img
          src="../../../assets/profiles/girl-559307.jpg"
          class="rounded-full h-12 w-12 mb-4"
          loading="lazy"
        />
        <a href="#">
          <h4 class="text-lg mb-3 font-semibold">Amelia Jonasik 27 lat</h4>
        </a>
        <p class="mb-2 text-sm text-gray-600">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s
        </p>

        <img
          src="../../../assets/images/girl-559307.jpg"
          class="w-100"
          loading="lazy"
        />

        <hr class="mt-4" />
        <span class="text-xs">Numer: </span>
        &nbsp;<span class="text-xs text-gray-500">875-233-778</span>
      </div>
    </div>
  </div>
</div>
