<div class="container">
  <div class="text-center">
    <h2 class="text-white p-2">Przykłady</h2>
    <p></p>

    <div
      class="w-96 text-center overflow-hidden p-10 h-full rounded-md bg-white shadow-[0_35px_60px_-15px_rgba(0,0,0,0.9)]"
    >
      <div class="font-bold mt-2 text-xl mb-2">Card Title</div>
      <p class="text-gray-700 text-base text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in
        tincidunt eros. Phasellus sed sapien quis purus commodo interdum.
      </p>
    </div>

    <p></p>
  </div>
</div>
