<!-- navbar.component.html -->

<nav class="bg-gray-800 pt-4 pb-4 md:p-4">
  <div class="mx-auto flex justify-between items-center lg:container">
    <!-- Tekst "Logo" -->
    <div class="text-white font-bold text-lg flex">
      <img
        src="./../../../assets/icons/2093679.svg"
        alt="Logo"
        class="text-white h-8 w-9"
      />KarinkaApp
    </div>
    <button
      class="lg:hidden text-white focus:outline-none focus:text-white"
      (click)="toggleMenu()"
    >
      <ng-container *ngIf="!isMenuOpen; else closeIcon">
        <svg
          class="h-6 w-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"
          ></path>
        </svg>
      </ng-container>
      <ng-template #closeIcon>
        <svg
          class="h-6 w-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </ng-template>
    </button>
    <div class="hidden lg:flex lg:items-center lg:w-auto lg:space-x-6">
      <a
        href="home"
        class="relative text-white w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
        >Strona główna</a
      >
      <a
        href="#"
        class="relative text-white w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
        >O stronie</a
      >
      <a
        href="best-on-the-best"
        class="relative text-white w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
        >Najlepsze</a
      >
      <a
        href="#"
        class="relative text-white w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
        >Galeria</a
      >
    </div>
  </div>

  <div class="lg:hidden left-0 w-full bg-gray-800 z-50" *ngIf="isMenuOpen">
    <a
      href="home"
      class="relative text-white p-4 w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
      >Strona główna</a
    >
    <a
      href="#"
      class="relative text-white p-4 w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
      >O stronie</a
    >
    <a
      href="best-on-the-best"
      class="relative text-white p-4 w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
      >Najlepsze</a
    >
    <a
      href="#"
      class="relative text-white p-4 w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
      >Galeria</a
    >
  </div>
  <hr class="border-b-1 mt-1 border-white my-0" />
</nav>
<ng-content></ng-content>
